/* Show left and right endpoints side-by-side. */
.node-question-form .group-left-endpoint {
  float: left;
  width: 40%;
}
.node-question-form .group-right-endpoint {
  float: right;
  width: 40%;
}
